<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1><center>Welcome to Youtube video download Website</center></h1>

<br/><br/>
<br/><br/><br/>

<center>
            <form method="POST" action="">
                        {% csrf_token %}
                    <label>Youtube Url Link: </label>
                    <input type="text" name="link" id="link"><br/><br/>
                    <input type="submit" value="Download">

            </form>
</center>




</body>
</html>